@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .flexBetween {
    @apply flex justify-between items-center;
  }
  
  .flexStart {
    @apply flex items-center justify-start;
  }
  
  .text-small {
    @apply text-sm font-medium;
  }
  
  .paddings {
    @apply lg:px-20 py-6 px-5;
  }
  .text-hero {
    @apply text-[64px] leading-[76px] font-semibold;
  }
  .h1 {
    @apply text-[38px] leading-[42px] font-bold;
  }
  .h2 {
    @apply text-[24px] leading-[36px] font-bold;
  }
  .h3 {
    @apply text-[19px] leading-[28px] font-semibold;
  }
  .h4 {
    @apply text-[18px] leading-[25px] font-semibold;
  }
  .h5 {
    @apply text-[16px] leading-[24px] font-normal;
  }
  .subtitle-1 {
    @apply text-[36px] leading-[44px] font-semibold;
  }
  .subtitle-2 {
    @apply text-[28px] leading-[36px] font-semibold;
  }
  .body-1 {
    @apply text-[16px] leading-[24px] font-normal;
  }
  .body-2 {
    @apply text-[14px] leading-[20px] font-normal;
  }
  .button {
    @apply text-[14px] leading-[20px] font-medium;
  }
  .caption {
    @apply text-[12px] leading-[16px] font-normal;
  }
  .overline {
    @apply text-[10px] leading-[14px] font-normal;
  }

  /* ===== HELPER CLASSES */
  .container {
    @apply mx-auto max-w-7xl px-5;
  }
  .primary-btn {
    @apply bg-[#141e3a]/90 hover:bg-[#141e3a]/85 transition-all rounded-full button !important;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  /* =====  SHADCN OVERRIDES */
  .shad-no-focus {
    @apply outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .shad-input {
    @apply border-none shadow-none p-0 shad-no-focus placeholder:text-light-200 body-2 !important;
  }



    /* Remove scrollbar */
    .remove-scrollbar::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      border-radius: 0px;
    }
  
    .remove-scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .remove-scrollbar::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 0px;
    }
  
    .remove-scrollbar::-webkit-scrollbar-thumb:hover {
      /* background: #1e2238; */
      background: transparent;
    }
  
  /* ===== Hero Section */


  .shad-form-item {
    @apply flex h-[78px] flex-col justify-center rounded-xl border border-light-300 px-4 shadow-drop-1;
  }
  .shad-form-label {
    @apply text-light-100 pt-2 body-2 w-full !important;
  }
  .shad-form-message {
    @apply text-red body-2 ml-4 !important;
  }
  .shad-alert-dialog {
    @apply space-y-4 max-w-[95%] sm:w-fit rounded-xl md:rounded-[30px] px-4 md:px-8 py-10 bg-white outline-none !important;
  }
  .shad-submit-btn {
    @apply bg-brand button hover:bg-brand-100 transition-all rounded-full !important;
  }
  .shad-otp {
    @apply w-full flex gap-1 sm:gap-2 justify-between !important;
  }
  .shad-otp-slot {
    @apply text-[40px] font-medium rounded-xl ring-brand shadow-drop-1 text-brand-100 justify-center flex border-2 border-light-300 size-12 md:size-16 gap-5 !important;
  }

  .shad-sheet {
    @apply pt-0 !important;
  }
  .shad-sheet button,
  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none outline-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .shad-dropdown-item {
    @apply cursor-pointer !important;
  }
  .shad-dialog {
    @apply rounded-[26px] w-[90%] max-w-[400px] px-6 py-8   !important;
  }
  .shad-chart-title {
    @apply text-white !important;
  }
  .shad-sheet-content {
    @apply w-full sm:w-80 sm:h-auto sm:right-0 sm:left-auto left-0 focus:outline-none !important;
  }

  .select-item {
    @apply cursor-pointer !important;
  }

  

  /* =====  STYLE CLASSES */

  /* Root Layout */
  .main-content {
    @apply remove-scrollbar h-full flex-1 overflow-auto bg-light-400 px-5 py-7 sm:mr-7 sm:rounded-[30px] md:mb-7 md:px-9 md:py-10 !important;
  }

  .navbar {
    @apply flex justify-between items-center py-5 px-5 lg:px-20 border-b gap-4 sticky top-0 z-50 transition-colors duration-300 ease-in-out !important;
  }

  .header {
    @apply flex justify-between items-center py-2 px-5 lg:px-20 gap-4 sticky top-0 z-50 bg-white !important;
  }

  /* AuthForm */
  .auth-form {
    @apply flex w-full max-w-[580px] flex-col justify-center space-y-6 transition-all lg:h-full lg:space-y-8 !important;
  }
  .form-title {
    @apply h1 text-center text-light-100 md:text-left !important;
  }
  .form-submit-button {
    @apply primary-btn h-[66px] !important;
  }
  .error-message {
    @apply body-2 mx-auto w-fit rounded-xl bg-error/5 px-8 py-4 text-center text-error !important;
  }

    /* Footer */

  .paddings {
    @apply lg:px-20 py-6 px-5;
  }
  .footer {
    @apply flex-col paddings w-full gap-20 bg-[#263238];
  }

  .footer_copyright {
    @apply max-sm:flex-col w-full text-xs font-normal;
  }

  .footer_column {
    @apply flex-1 flex flex-col gap-3 text-sm min-w-max;
  }


  /* Sidebar */
  .sidebar {
    @apply remove-scrollbar hidden h-full w-[90px] flex-col overflow-auto px-5 py-7 sm:flex lg:w-[280px] xl:w-[325px] !important;
  }
  .sidebar-nav {
    @apply h5 mt-9 flex-1 gap-1 text-brand !important;
  }
  .sidebar-nav-item {
    @apply flex text-light-100 gap-4 rounded-xl lg:w-full justify-center lg:justify-start items-center h5 lg:px-[30px] h-[52px] lg:rounded-full !important;
  }
  .sidebar-user-info {
    @apply mt-4 flex items-center justify-center gap-2 rounded-full bg-brand/10 p-1 text-light-100 lg:justify-start lg:p-3 !important;
  }
  .sidebar-user-avatar {
    @apply aspect-square w-10 rounded-full object-cover !important;
  }  


      /* Sidebar & MobileNavigation */
  .nav-icon {
    @apply w-6 filter invert opacity-95 !important;
  }
  .nav-icon-active {
    @apply invert-0 opacity-100 !important;
  }
  .main-content {
    @apply remove-scrollbar h-full flex-1 overflow-auto bg-light-400 px-5 py-7 sm:mr-7 sm:rounded-[30px] md:mb-7 md:px-9 md:py-10 !important;
  }

  .shad-active {
    @apply bg-brand text-white shadow-drop-2 !important;
  }

  .sx-react-calendar-wrapper {
    height: 700px;
    width: 100%;
  }

}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}